.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  margin: 10px 12px;
  padding: 8px 10px;
  height: 100vh;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.inputtxt {
  border-radius: 5px;
  font-size: 20px;
  /* margin: 2px; */
}

button {
  margin: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  background-color: darkgrey;
  cursor: pointer;





}

.deletebtn {
  background-color: red;
}

.completetodo {

  background-color: green;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  background-color: lightgray;
  color: black;
  margin: 8px 0;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;



}